{% extends 'base.html' %}
{% block title %}Patterns{% endblock title %}
{% block style %}
<style>
    h1 {
        margin-bottom:45px;
    }
    .text {
        width:700px;
        margin:0 auto;
    }
    p {
        text-indent: 20px;
        margin-bottom:10px;
        text-align:justify;
    }
</style>
{% endblock style %}
{% block content %}
<h1>Programming language training courses</h1>
<div class="text">
    <p><strong>Программи́рование</strong> — процесс создания компьютерных программ.</p>
    <p>По выражению одного из основателей языков программирования Никлауса Вирта «Программы = алгоритмы + структуры данных».</p>
    <p>Программирование основывается на использовании языков программирования, на которых записываются исходные тексты программ.</p>
    <p>Большая часть работы программистов связана с написанием исходного кода, тестированием и отладкой программ на одном из языков программирования. Исходные тексты и исполняемые файлы программ являются объектами авторского права и являются интеллектуальной собственностью их авторов и правообладателей</p>
    <p>Различные языки программирования поддерживают различные стили программирования (парадигмы программирования). Выбор нужного языка программирования для некоторых частей алгоритма позволяет сократить время написания программы и решить задачу описания алгоритма наиболее эффективно. Разные языки требуют от программиста различного уровня внимания к деталям при реализации алгоритма, результатом чего часто бывает компромисс между простотой и производительностью (или между «временем программиста» и «временем пользователя»).</p>         
    </div>
{% endblock content %}