{% extends 'base.html' %}
{% block title %}Students{% endblock title %}
{% block style %}
<style>
    span {
        margin:3px 0;
        font-size:1.1em;
        width:100px;
        display:inline-block;
    }
    
    ul {
        list-style-type:none;
    }
    ul li.student_name {
        padding: 5px 3px;
        box-sizing:border-box;
    }
    ul li.student_name:nth-child(even) {
        background: #6699CC;
    }
    ul li.student_name {
        background: #336699;
        color:black;
    }
    .courses {
        margin-top:17px;
        box-sizing: border-box;
        width:100%;
        color: white;
        position:relative;
    }

    .plus:before {
        content: '\002B';
        color:#66CC66;
    }
    a.plus {
        color:#66CC66;
        position:absolute;
        right:0;
    }
</style>
{% endblock style %}
{% block content %}
<h1>Our students</h1>
<div class="courses">
<ul>
    {% for student in students %}

        <li class="student_name">&#62;&nbsp;{{student.name}}</li>

    {% endfor %}
</ul>
<a class="plus" href='/app/students/create_student'>add student</a>
</div>
{% endblock content %}