{% extends 'base.html' %}
{% block title %}Main page{% endblock title %}
{% block style %}
<style>
    span {
        margin:3px 0;
        font-size:1.1em;
        width:100px;
        display:inline-block;
    }
    
    ul {
        list-style-type:none;
    }
    ul li {
        margin-left:6px;
    }
    .users {
        margin-top:17px;
        padding:3px 8px;
        box-sizing: border-box;
        width:100%;
        background: #999999;
        color: white;
    }
</style>
{% endblock style %}
{% block content %}
<h1>Users page!</h1>
<p><span>GET:</span>(get all users)</p>
<p><span>POST:</span>(create user ?user=name)</p>
<div class="users">
<h4>Все пользователи:</h4>
<ul>
    {% for user in users %}

        <li>{{user.name}}</li>

    {% endfor %}
</ul>
</div>
{% endblock content %}